@import './base.css';

body{
  font-family: "arial", sans-serif;
  background-color: rgb(211, 59, 153);
}
.main {
  text-align: center;
  padding: 20px;
  background: linear-gradient(rgb(232, 124, 180))
}
.btn-grad {
  background-image: linear-gradient(to right, lightpink 0%, #3CD3AD 51%, bisque 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(101, 16, 64);
  box-shadow: 0 0 20px #841446;
  border-radius: 10px;
  display: inline-block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #a3226d;
  text-decoration: none;
}
.iyaa{
  text-align: center ;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.iyaa{
  text-align: center;
  padding: 20px;
  background: rgb(129, 19, 93);
  border-radius: 10px;
  box-shadow: 0 4px 6px bisque;
  margin-top: 20px;
  margin-right: 20px;
}
.iyaa {
  text-align: center;
  padding: 20px;
  background-color: rgb(143, 49, 109);
  border-radius: 10px;
  box-shadow: 0 4px 6px bisque;
  margin-top: 20px;
  margin-right: 20px; 
}
 .btn-grad {
  background-image: linear-gradient(to right, #5f1036 0%, #EECDA3 51%, #a3d0ee 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #520f34;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #780e4a;
  text-decoration: none;
}